@charset "utf-8";
/*======================================

 [ -Main Stylesheet-
  Theme: Firenze
  Version: 1.0
  Last change: 27/05/2016 ]
  	+++Fonts +++
	++++General Styles++++
	++++Typography ++++
	++++Page preload ++++
	++++Content Styles ++++
	++++Item hover ++++
	++++Top bar ++++
	++++Header ++++
	++++Navigation ++++
	++++Home pages ++++
	++++Section ++++
	++++Resume+++++
	++++Facts  +++++
	++++Skills ++++
	++++Services ++++
	++++Team ++++
	++++Porfolio++++
	++++Video ++++
	++++Map ++++
	++++Contact++++
	++++Share++++
	++++Blog++++
	++++404++++
	++++Responsive++++
*/
/*-------------Import fonts ---------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,500,300|Montserrat:400,700&amp;subset=latin,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic);
/*-------------General Style---------------------------------------*/
html{
	overflow-x:hidden !important;
	overflow-y:scroll !important;
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #000;
	background:#f4f4f4;
	height:100%;
	text-align:center;

}
@-o-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}

/*--------------Typography--------------------------------------*/
h1 {
	font-size: 4.46666666667em;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.17em;
}
h2 {
	font-size: 3.2em;
	font-weight: 300;
}
h3 {
	font-size: 1em;
}
h4 {
	font-size: 0.9em;
	font-weight: 200;
}
h5 {
	font-size: 0.8em;
	font-weight: 200;
}
h6 {
	font-size: 0.6em;
	font-weight: 200;
}
p {
	text-align:left;
	font-size:12px;
	line-height:24px;
	padding-bottom:10px;
	font-weight:400;
}
.big-parag {
	font-size: 21px;
	font-weight:300;
	line-height: 1.5;
}
blockquote {
	float:left;
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 15px solid #eee;
}
blockquote p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#494949;
}
/* ---------Page preload--------------------------------------*/
.loader {
	position:fixed;
	top:50%;
	left:50%;
	width: 27px;
	height: 27px;
	z-index:100;
	margin-top:-13px;
	margin-left:-13px;
}
.speeding-wheel {
	width:27px;
	height: 27px;
	margin: 0 auto;
	border: 2px solid rgb(0,0,0);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}
.loader.pg-load {
	top:23px;
	left:255px;
	margin-top:0;
	margin-left:0;
	width:17px;
	height: 17px;
}
.loader.pg-load .speeding-wheel {
	width:17px;
	height: 17px;
	margin: 0 auto;
	border: 1px solid rgb(0,0,0);
	border-left-color: transparent;
	border-right-color: transparent;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
.l-line {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:2px;
	z-index:10000;
	display:none;
	background:#f4f4f4;
}
.l-line span{
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:2px;
	background:#000;
}
/* ---------Content Styles--------------------------------------*/
#main{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
}
#main:before {
	content:'';
	position:fixed;
	top:0px;
	bottom:0;
	right:0;
	left:298px;
 	background:url(../images/body-bg.png) repeat top left;
	-webkit-transform: translate3d(0,0,0);
	opacity:0.4;
	overflow:hidden;
}
#wrapper{
	height:100%;
	margin-left:0;
	vertical-align:top;
	position: absolute;
	left:0;
	top:0;
	right:0;
	z-index:2;
	width:100%;
}
.content-holder{
	vertical-align: top;
	position: absolute;
	left:0;
	top: 0;
	right: 0;
	z-index: 2;
	height: 100%;
	padding:0 0 0 300px;
	-webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.container{
	max-width: 1024px;
	width:92%;
	float:left;
	position: relative;
	z-index:2;
}
.container.no-fl-con {
	float:none;
	background:none;
	margin:0 auto;
}
.small-container {
	max-width:900px;
	margin:0 auto;
	float:none;
	background:none;
}
.content {
	width:100%;
	position:relative;
	z-index:2;
	float:left;
}
.wrapper-inner {
	float:left;
	width:100%;
	position:relative;
	z-index:3;
	padding-left:30px;
}
.scale-bg2{
	opacity:0;
}
.fl-l {
	float:left;
}
.full-height {
	height:100%;
}
.full-width-wrap {
	width:100%;
}
.preload-bg {
	position:fixed;
	top:10px;
	left:300px;
	bottom:0;
	right:0;
	z-index:10;
}
.preload-bg-item{
	width:100px;
	height:100px;
	background:#fff;
	float:left;
 	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
 	opacity:0;
}
.vis-load{
	opacity:1;
}
.bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background-size: cover;
	background-position: center  ;
	background-repeat:repeat;
	background-origin: content-box;
}

.respimg {
	width:100%;
	height:auto;
}
.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#292929;
	opacity:0.3;
	z-index:2;
}
.no-bg {
	background:none !important;
}
.no-border {
	border:none !important;
}
.no-padding {
	padding:0 !important;
}
.row-bg {
	float:left;
	width:100%;
	position:relative;
	background:#fff;
	padding:50px 30px;
}
.btn {
	padding:10px 30px;
	position:relative;
	margin-top:10px;
	font-size:10px;
	letter-spacing:1px;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	text-transform:uppercase;
}
.trsp-btn {
	border:1px solid rgba(255,255,255,0.6);
	color:#fff;
}
.trsp-btn:before , .flat-btn:before {
	background:#fff;
}
.flat-btn {
		border:1px solid #000;
	color:#fff;
	background:#292929;
}
.float-btn {
	float:left;
}
.btn:before {
	content:'';
	position:absolute;
	top:50%;
	left:20px;
	height:1px;
	width:0;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.btn:hover:before {
	width:30px;
}
.btn:hover {
	padding-left:60px;
}
.content-nav {
	float:left;
	position:relative;
	width:100%;
	padding:0 30px;
	border-top:1px solid #f0f0f0;
}
.content-nav li {
	width:33.3%;
	float:left;
	border-left:1px solid #f0f0f0;
	padding:10px 0;
}
.content-nav li:first-child {
	border:none;
}
.content-nav li a.ln , .content-nav li a.rn {
	color:#000;
	padding-top:8px;
	font-size:24px;
	position:relative;
}
.content-nav li a.ln i , .content-nav li a.rn i  , .customNavigation a i , .content-nav li a span.tooltip{
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.content-nav li a.ln:hover i ,  .content-nav li a.rn:hover i , .customNavigation a:hover i  {
	-webkit-transform: rotateX(360deg);
	-moz-transform: rotateX(360deg);
	-o-transform: rotateX(360deg);
	-ms-transform: rotateX(360deg);
	transform: rotateX(360deg);
}
.content-nav li a.ln {
	float:left;
}
.content-nav li a.rn {
	float:right;
}
.list {
	width:40px;
	height:40px;
	overflow:hidden;
	display:inline-table;
}
.list a,
.list span{
	display:block;
	width:40px;
	height:40px;
}
.list a{
	position:relative;
	padding: 10px;
}
.list a span{
	width: 20px;
	height: 20px;
	overflow:hidden;
	position: relative;
}
.list a i{
	display:block;
	position:absolute;
	background-color:#000;
	width:6px;
	height:0;
	-webkit-transition-property: height, -webkit-transform;
	   -moz-transition-property: height, -moz-transform;
	     -o-transition-property: height, -o-transform;
	        transition-property: height, transform;
	-webkit-transition-duration: 0.5s;
	   -moz-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(.75,0,.3,1);
	   -moz-transition-timing-function: cubic-bezier(.75,0,.3,1);
	     -o-transition-timing-function: cubic-bezier(.75,0,.3,1);
	        transition-timing-function: cubic-bezier(.75,0,.3,1);
}
.list a i.c1{ left:0px; }
.list a i.c2{ left:7px; }
.list a i.c3{ left:14px; }
.list a i.c1.b1{ height:7px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	-o-transform: translate(0, 0); 		transform: translate(0, 0); }
.list a i.c1.b2{ height:7px; 	-webkit-transform: translate(0, 8px); 	-moz-transform: translate(0, 8px); 	-o-transform: translate(0, 8px); 	transform: translate(0, 8px); }
.list a i.c1.b3{ height:7px; 	-webkit-transform: translate(0, 40px); 	-moz-transform: translate(0, 40px); -o-transform: translate(0, 40px); 	transform: translate(0, 40px); }
.list a i.c2.b1{ height:10px; -webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	-o-transform: translate(0, 0); 		transform: translate(0, 0); }
.list a i.c2.b2{ height:7px; 	-webkit-transform: translate(0, 11px); 	-moz-transform: translate(0, 11px); -o-transform: translate(0, 11px); 	transform: translate(0, 11px); }
.list a i.c2.b3{ height:7px; 	-webkit-transform: translate(0, 35px); 	-moz-transform: translate(0, 35px); -o-transform: translate(0, 35px); 	transform: translate(0, 35px); }
.list a i.c3.b1{ height:5px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	-o-transform: translate(0, 0); 		transform: translate(0, 0); }
.list a i.c3.b2{ height:7px; 	-webkit-transform: translate(0, 6px); 	-moz-transform: translate(0, 6px); 	-o-transform: translate(0, 6px); 	transform: translate(0, 6px); }
.list a i.c3.b3{ height:7px; 	-webkit-transform: translate(0, 33px); 	-moz-transform: translate(0, 33px); -o-transform: translate(0, 33px); 	transform: translate(0, 33px); }
.list a:hover i.c1.b1{ height:7px; 	-webkit-transform: translate(0, -8px); 	-moz-transform: translate(0, -8px);	 -o-transform: translate(0, -8px); 	transform: translate(0, -8px); }
.list a:hover i.c1.b2{ height:7px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	 -o-transform: translate(0, 0); 	transform: translate(0, 0); }
.list a:hover i.c1.b3{ height:7px; 	-webkit-transform: translate(0, 8px); 	-moz-transform: translate(0, 8px); 	 -o-transform: translate(0, 8px); 	transform: translate(0, 8px); }
.list a:hover i.c2.b1{ height:10px; 	-webkit-transform: translate(0, -11px); -moz-transform: translate(0, -11px); -o-transform: translate(0, -11px); transform: translate(0, -11px); }
.list a:hover i.c2.b2{ height:10px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	 -o-transform: translate(0, 0); 	transform: translate(0, 0); }
.list a:hover i.c2.b3{ height:7px; 	-webkit-transform: translate(0, 11px); 	-moz-transform: translate(0, 11px);  -o-transform: translate(0, 11px); 	transform: translate(0, 11px); }
.list a:hover i.c3.b1{ height:5px; 	-webkit-transform: translate(0, -6px); 	-moz-transform: translate(0, -6px);  -o-transform: translate(0, -6px); 	transform: translate(0, -6px); }
.list a:hover i.c3.b2{ height:5px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	 -o-transform: translate(0, 0); 	transform: translate(0, 0); }
.paginate .list a:hover i.c3.b3{ height:7px; 	-webkit-transform: translate(0, 6px); 	-moz-transform: translate(0, 6px); 	 -o-transform: translate(0, 6px); 	transform: translate(0, 6px); }
.content-nav li a.ln span.tooltip  , .content-nav li a.rn span.tooltip {
	position:absolute;
	top:-10px;
	font-size:10px;
	text-transform:uppercase;
	min-width:150px;
	visibility:hidden;
	opacity:0;
}
.content-nav li a.ln span.tooltip {
	left:100%;
	margin-left:20px;
	text-align:left;
}
.content-nav li a.rn span.tooltip {
	right:100%;
	margin-right:20px;
	text-align:right;
}
.content-nav li a:hover span.tooltip {
	top:50%;
	opacity:1;
	visibility:visible;
}
.hid-con {
	overflow:hidden;
}
.to-top {
	position:fixed;
	bottom:0;
	right:0;
	z-index:30;
	width:40px;
	height:70px;
	cursor:pointer;
	background:#fff;
	line-height:70px;
	display:none;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.15);
    box-shadow: 0 0 7px rgba(0,0,0,.15);
}
/*------item hover ------------------------------------------------*/
.box-item {
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
}
.box-item a.popup-image {
	position:absolute;
	top:50%;
	opacity:0;
	left:50%;
	width:30px;
	height:30px;
	line-height:30px;
	margin:-15px 0 0 -15px;
	z-index:5;
	color:#fff;
	font-size:19px;
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-o-transform: scale(0.4);
	-ms-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
	 -webkit-transition-delay: 0.3s;
	 -o-transition-delay: 0.3s;
	 -moz-transition-delay: 0.3s;
	  transition-delay: 0.3s;
}
.box-item  img {
	position:relative;
	z-index:1;
	-webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
  	-moz-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
  	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}
.box-item .overlay {
	opacity:0;
	z-index:4;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.box-item:hover .overlay  , .gallery-item:hover .overlay{
	opacity:0.3;
}
.box-item:hover img , .gallery-item:hover img {
	-webkit-transform: scale(1.15);
	-moz-transform:scale(1.15);
	transform: scale(1.15);
}
.box-item:hover a.popup-image  , .gallery-item:hover a.popup-image{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity:1;
}
.box-item a.popup-image:hover{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*------ top bar  ------------------------------------------------*/
.top-bar-holder {
	position:fixed;
	top:0;
	left:330px;
	right:0;
	height:50px;
	z-index:50;
}
.top-bar-holder.fw-topbar {
	left:300px;
	right:0;
}
.top-bar {
	float:left;
	width:100%;
	position:relative;
	background:#fff;
	border-bottom: 1px solid #f0f0f0;
	height:50px;
	padding-left:  30px ;
}
.pdtb .top-bar {
	width:calc(100% - 30px);
}
.top-bar-title {
	float:left;
	line-height:50px;
}
.top-bar-title h2 {
	text-align:left;
	color:#555;
	font-size:13px;
	letter-spacing:1px;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
}
/*------ Header  ------------------------------------------------*/
header{
	position:fixed;
	top:0;
	left:0;
	z-index:20;
	height:100%;
	width:300px;
	background:#fff;
	-webkit-transform: translate3d(0,0,0);
	border-right:1px solid #f0f0f0;
	overflow:hidden;
}
.scroll-holder {
	position:absolute;
	top:0;
	left:0;
	right:0;
 	padding:30px 0 !important ;
	overflow:auto;
}
.header-inner {
	margin:0 auto;
	position:relative;
	max-width: 1024px;
	width:92%;
	padding-right:90px;
}
.logo-holder {
	float:left;
	position:relative;
	max-width:250px;
	z-index:21;
	margin-top:10px;
	padding:0 30px;
}
.logo-holder  a {
	position:relative;
	float:left;
}
.logo-holder  a:before , .logo-holder  a:after {
	content:'';
	position:absolute;
	width:40px;
	height:1px;
	top:50%;
	margin-top:-1px;
	right:-70px;
	background:#666;
}
.logo-holder  a:after {
	width:0;
	background:#ccc;
	z-index:2;
	-webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
  	-moz-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
  	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}
.logo-holder  a:hover:after {
	width:40px;
}
.logo-holder img {
	float:left;
}
.logo-holder p {
	color:#555;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	float:left;
	width:100%;
	margin-top:14px;
	line-height:15px;
}
.mob-logo {
	float:right;
	width:auto;
	height:30px;
	margin-top:8px;
}
.mob-logo img {
	height:30px;
	width:auto;
}
.close-menu {
	width:15px;
	height:15px;
	position:absolute;
	top:30px;
	right:40px;
	cursor:pointer;
	font-size:15px;
	z-index:5;
	display:none;
}
 .header-widget {
	float:left;
	width:100%;
	margin:25px 0 0px;
	padding:10px 30px;
}
.header-widget h3 {
	text-align:left;
	color:#000;
	font-size:12px;
	text-transform:uppercase;
	position:relative;
	text-align:left;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	padding-bottom:10px;
}
.header-contacts , .header-contacts li  , .header-social {
	float:left;
	width:100%;
	text-align:left;
}
.header-contacts li  {
	padding:5px 0;
}
.header-contacts li a {
	color:#999;
	padding-left:9px;
	position:relative;
}
.header-contacts li a:hover {
	color:#000;
}
.header-contacts li a:before {
	content:":";
	position:absolute;
	top:0;
	left:3px;
	color:#000;
}
.header-footer {
	position:absolute;
	bottom:0;
	padding:14px 30px;
	left:0;
	width:100%;
	border-top:1px solid #f0f0f0;
	text-align:left;
	font-size:10px;
	text-transform:uppercase;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	background:#fff;
	box-sizing:border-box;
}
.header-social {
	float:left;
	width:100%;
}
.header-social li {
	float:left;
	margin-right:10px;
}
.header-social li a:hover {
	color:#999;
}
/*------ navigation  ------------------------------------------------*/
.nav-holder {
	float:left;
	position:relative;
	margin-top:46px;
	width:100%;
}
.nav-holder nav {
	position:relative;
	float:left;
	width:100%;
}
.nav-holder nav li{
	float:left;
	width:100%;
	padding:12px 30px;
	position:relative;
	text-align:left;
	border-bottom:1px solid #f0f0f0;
}
.nav-holder nav li:first-child {
	 border-top:1px solid #f0f0f0;
}
.nav-holder nav li a {
	color:#000;
	font-size:12px;
	text-transform:uppercase;
	position:relative;
	text-align:left;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
}
.nav-holder nav li a.active {
	color:#ccc;
}
.nav-holder nav li a.active:hover {
	color:#000;
}
.nav-holder nav li a  , .nav-holder nav li.subnav a i.subnavicon , .slider-zoom i  , .nav-dec:before  {
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav-holder nav li:hover:before {
 	opacity:1;
}
.nav-holder nav li.subnav  i.subnavicon {
	position:absolute;
	bottom:6px;
	right:10px;
	z-index:5;
	color:#ccc;
	font-size:12px;
}
.nav-holder nav li.subnav:hover i.subnavicon  , .slider-zoom:hover i{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.nav-holder nav li.subnav ul li  i.subnavicon {
	display:none;
}
.nav-holder nav li ul {
	display:none;
	float:left;
	width:100%;
	padding:20px 0 0 20px;
	border-left:1px solid #eee;
}
.nav-holder nav li ul li {
	border:none;
	padding:8px 0;
}
.nav-holder nav li ul li a {
	text-transform:none;
	font-size:11px;
	color:#000;
	letter-spacing:1px;
}
.nav-holder nav li ul li a:hover {
	text-decoration:line-through;
}
.nav-button-holder {
	float:left;
	width:100%;
	height:50px;
	position: relative;
	background:#fff;
	display:none;
	padding:0 30px;
	border-bottom:1px solid #f0f0f0;
	z-index:10;
}
.nav-button {
	float:left;
	width:24px;
	height:24px;
	position:relative;
	margin-top:22px;
	cursor:pointer;
}
.nav-button span {
	float:left;
	width:100%;
	height:2px;
	background:#000;
	margin-bottom:2px;
	position:relative;
}
.nav-dec {
	position:absolute;
	top:50%;
	left:8px;
	height:1px;
	width:7px;
	background:#000;
	opacity:0.3;
}
.nav-dec:before {
	content:'';
	position:absolute;
	top:-3.5px;
	left:50%;
	margin-left:-0.5px;
	width:1px;
	height:7px;
	background:#000;
}
.nav-holder nav li:hover .nav-dec:before  {
	height:0;
}
/*------ Home -------------------------------------------------*/
.full-height-wrap , .hero-wrap  , .full-screen-slider-holder , .full-screen-slider , .full-screen-item , .slideshow-item , .slideshow-item .item   , .fullheight-carousel-holder , .fullheight-carousel , .carousel-item {
	float:left;
	width:100%;
	height:100%;
	position:relative;
	z-index:3;
	overflow:hidden;
}
.fullheight-carousel-holder {
	background:#fff;
}
.full-screen-item {
	position:relative;
}
.full-screen-slider-holder {
	margin-top:50px;
}
.hero-title {
	max-width:600px;
	top:50%;
	margin:0 auto;
	position:relative;
	z-index:4;
}
.hero-title h2 , .hero-title h2 a {
	color:#fff;
}
.hero-title h2 {
	float:left;
	width:100%;
	font-size:44px;
	font-weight:700;
	line-height:46px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom:30px;
}
.hero-title h3 {
	color:#fff;
	position:relative;
	float:left;
	width:100%;
	font-size:18px;
	font-weight:500;
	letter-spacing:2px;
}
.slideshow-holder {
	 position:absolute;
	 top:0;
	 left:0;
	 width:100%;
	 height:100%;
	 z-index:-1;
}
.blur-slider .hero-title  {
  -webkit-filter: blur(10px);
  -o-filter: blur(10px);

}
 .fullheight-carousel .carousel-link-holder {
  -webkit-filter: blur(2px);
  -o-filter: blur(2px);
}
.blur-slider .hero-title ,  .fullheight-carousel .carousel-link-holder {
	 -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
     -webkit-transition-delay: 0.5s;
     -o-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
     transition-delay: 0.5s;
}
.blur-slider .owl-item.active .hero-title ,  .fullheight-carousel  .owl-item.center .carousel-link-holder  {
  -webkit-filter: blur(0px);
  -o-filter: blur(0px);
}
.hero-grid {
	float:left;
	width:50%;
	height:50%;
	position:relative;
	overflow:hidden;
}
.hero-slider , .hero-slider .item{
	float:left;
	width:100%;
	height:100%;
	position:relative;
}
.num-holder {
	position:absolute;
	top:50px;
	left:80px;
	z-index:10;
	color:#fff;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
}
.num-holder:before {
	content:'';
	position:absolute;
	top:50%;
	left:100%;
	width:150px;
	height:1px;
	margin-left:20px;
	background:rgba(255,255,255,0.31)
}
.num-holder:after {
	content:'';
	position:absolute;
	top:50%;
	left:100%;
	width:50px;
	height:1px;
	margin-left:120px;
	background:#fff;
}
.panel-dots-holder {
	position:absolute;
	bottom:50px;
	left:0;
	width:100%;
	z-index:10;
	height:1px;
}
.panel-dots-inner {
	max-width:600px;
	padding:0 10px;
	margin:0 auto;
}
.panel-dots {
	float:left;
	width:100%;
	height:1px;
	background:rgba(255,255,255,0.31)
}
.carousel-link-holder {
	position:absolute;
	top:50%;
	width:100%;
	left:0;
	z-index:3;
}
.carousel-link-holder h3 {
	text-transform:uppercase;
	font-size:20px;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
}
.carousel-link-holder h3 a {
	color:#fff;
	position:relative;
}
.carousel-link-holder h3 a:before , .carousel-link-holder h3 a:after {
	content:'';
	position:absolute;
	bottom:-10px;
	height:1px;
	background:#fff;
	width:20%;
}
.carousel-link-holder h3 a:before {
	left:50%;
}
.carousel-link-holder h3 a:after {
	right:50%;
}
.carousel-link-holder h3 a:hover:before , .carousel-link-holder h3 a:hover:after {
	width:40%;
}
.carousel-item .overlay , .fullheight-carousel    .owl-item.center .slider-mask  {
 	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.carousel-item .overlay{
	opacity:0.6;
}
.fullheight-carousel    .owl-item.center .overlay {
	opacity:0.3;
}
.fullheight-carousel    .owl-item.center .slider-mask {
	opacity:0.3;
}
.trsp-separator {
	width:270px;
	height:1px;
	margin:10px auto 10px;
	background:rgba(255,255,255,0.41);
	position:relative;
}
.trsp-separator:before {
	content:'';
	position:absolute;
	top:0;
	left:50%;
	width:50px;
	height:1px;
	margin-left:-25px;
	background:#fff;
}
.slider-mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	background:url(../images/body-bg.png) repeat top left;
}
.slider-con-bar {
	position:absolute;
	bottom:100px;
	left:30px;
	z-index:20;
}
.slider-con-bar  li {
	float:left;
	padding:7px 20px;
	font-weight:700;
	font-size:11px;
	position:relative;
	margin-right:2px;
	font-family: 'Montserrat', sans-serif;
}
.slider-con-bar  li a {
	color:#fff;
	font-size:14px;
	position:relative;
}
.slider-con-bar  li a:before {
	content:"";
	position:absolute;
	bottom:-7px;
	left:0;
	width:150px;
	height:1px;
	background:rgba(255,255,255,0.31);
}
.slider-con-bar  li a:after {
	content:"";
	position:absolute;
	bottom:-7px;
	left:100px;
	width: 50px;
	height:1px;
	background:#fff;
}
.slider-con-bar  li:before {
	content:'';
	position:absolute;
	top:50%;
	left:10px;
	height:1px;
	width:0;
	background:#fff;
}
.slider-con-bar  li , .slider-con-bar  li:before , .header-social li  , .header-contacts li a , .carousel-link-holder h3 a:before , .carousel-link-holder h3 a:after , .slider-con-bar  li a:after {
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.slider-con-bar  li:hover a:after {
	width:0;
}
.slider-con-bar  li:hover:before {
	width:15px;
}
.slider-con-bar  li:hover {
	padding-left:40px;
}
.full-screen-slider-holder .customNavigation a  , .fullheight-carousel-holder .customNavigation a{
	position:absolute;
	top:50%;
	width:40px;
	height:40px;
	line-height:40px;
	z-index:10;
	background:#fff;
	cursor:pointer;
	margin-top:-20px;
}
.full-screen-slider-holder .customNavigation a.next-slide , .fullheight-carousel-holder .customNavigation a.next-slide {
	right:0;
}
.full-screen-slider-holder .customNavigation a.prev-slide , .fullheight-carousel-holder .customNavigation a.prev-slide{
	left:0;
}
.pad-top {
	padding-top:50px;
}
.pad-top .num-holder {
	top:90px;
}
.carousel-notiher {
	position:absolute;
	top:80px;
	left:80px;
	color:#fff;
	padding-bottom:20px;
	text-align:left;
	z-index:10;
	font-weight:700;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
}
.carousel-notiher:before , .carousel-notiher:after{
	content:'';
	position:absolute;
	bottom:0;
	height:1px;
}
.carousel-notiher:before {
	width:150px;
	background:rgba(255,255,255,0.31);
	left:0;
	z-index:1;
}
.carousel-notiher:after{
	left:100px;
	width:50px;
	background:#fff;
	z-index:2;
}
.fix-bg {
	position:fixed;
	top:50px;
	left:300px;
	right:0;
	bottom:0;
	z-index:-1;
}
.abmin {
	float:left;
	width:100%;
	padding-top:250px;
}
.ab-min-wrap {
	float:left;
	width:100%;
	position:relative;
	background:#fff;
	margin-top:50px;
	padding:50px 30px;
}
.ab-min-wrap h2 {
	padding-bottom:20px;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	text-align:left;
	font-size:28px;
	position:relative;
	float:left;
	width:100%;
}
.blur {
	-webkit-filter: blur(10px);
	-o-filter: blur(10px);
}
/*------ setion ------------------------------------------------*/
section {
	float:left;
	width:100%;
	position:relative;
	padding:50px 0;
	background:#fff;
}
.small-padding {
	padding:10px 0;
}
.md-padding {
	padding:20px 0;
}
.mr-bottom {
	margin-bottom:30px;
}
.section-title {
	float:left;
	width:100%;
	margin-bottom:50px;
}
section.md-padding .section-title {
	margin-bottom:30px;
}
.inner-wrap {
	float:left;
	width:100%;
	position:relative;
	margin-top:50px;
	border-bottom:1px solid #f0f0f0;
	padding :0 0 20px;
}
.in-bi-pad {
	padding-bottom:40px;
}
.no-margin {
	margin:0;
}
.section-title h3  , .inner-wrap h3 {
	text-align:left;
	font-size:28px;
	position:relative;
	float:left;
	width:100%;
	padding-bottom:20px;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
}
.section-title h3:before  , .inner-wrap h3:before , .ab-min-wrap h2:before {
	content:'';
	position:absolute;
	bottom:10px;
	left:0;
	width:50px;
	background:#ccc;
	height:1px;
}
.inner-wrap h3 span {
	font-weight:300;
	font-size:13px;
	color:#666;
}
.section-title h4 {
	font-size:13px;
	font-weight:300;
	text-align:left;
	float:left;
	max-width:400px;
}
.page-title {
	float:left;
	width:100%;
	padding:250px 0;
	position:relative;
}
.page-title h2 {
	position:absolute;
	top:50%;
	right:10%;
	text-align:left;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size:92px;
	opacity:0.3;
	z-index:4;
	text-transform:uppercase;
}
.page-title-inner {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.page-title-decor {
	float:left;
	width:100%;
	position:relative;
	text-align:left;
	height:50px;
	border-bottom:1px solid #f0f0f0;
	background:#fff;
}
.page-title-decor:before {
	content:'';
	position:absolute;
	top:50%;
	right:50px;
	width:100px;
	height:1px;
	background:#000;
	opacity:0.5;
}
/*------ resume ------------------------------------------------*/
.resume-holder , .resume-item{
	float:left;
	width:100%;
	position:relative;
}
.resume-item {
	padding:20px 0;
	border-bottom:1px solid #eee;
}
.resume-head  {
	float:left;
	padding:10px 0;
	width:100%;
	position:relative;
}
.resume-head:before {
	content:'';
	position:absolute;
	top:50%;
	right:0;
	width:90px;
	height:1px;
	background:#000;
}
.resume-head h3 {
	float:left;
	text-align:left;
	font-size:24px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
.resume-box h5 {
	text-align:left;
	font-size: 16px;
 	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
.resume-box p {
	margin-top:10px;
	font-size: 12px;
}
.hidden-info {
	float:right;
	float:left;
	width:100%;
	display:none;
	padding:10px 0;
	margin-top:20px;
}
.show-hidden-info{
	float:right;
	width:20px;
	height:20px;
	cursor:pointer;
	position:relative;
	cursor:pointer;
}
.show-hidden-info:before , .show-hidden-info:after {
	content:'';
	position:absolute;
	background:#000;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.show-hidden-info:before {
	top:50%;
	left:0;
	width:100%;
	height:2px;
	margin-top:-1px;
}
.show-hidden-info:after  {
	top:0;
	left:50%;
	width:2px;
	height:100%;
	margin-left:-1px;
}
.vhi:after{
	height:0;
}
.vhi:after , .vhi:before {
	background:#ccc;
}
.inline-gallery {
	float:left;
	margin-top:30px;
	margin-bottom:10px;
}
.inline-gallery li {
	float:left;
	position:relative;
	width:25%;
	padding:4px 4px 4px 0;
}
/*------ facts  ------------------------------------------------*/
 .inline-facts-holder {
	 float:left;
	 width:100%;
	 margin-top:20px;
	 margin-bottom:30px;
	 position:relative;
}
.inline-facts {
	float:left;
	width:25%;
	position:relative;
}
.count-dec {
	position:absolute;
	top:-10px;
	left:0;
	color:#000;
	z-index:-1;
	opacity:0.1;
	font-size:54px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
.inline-facts h6 {
	float:right;
	width:100%;
	font-size:12px;
	margin-top:10px;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
}
.inline-facts .num {
	float:left;
	width:100%;
	text-align:left;
	font-size:34px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	position:relative;
}
/* --------- Skills --------------------------------------*/
.custom-skillbar-holder{
    padding-top: 50px;
	float:left;
	width:100%;
	position:relative;
}
.skillbar-box {
	float:left;
	width:100%;
	position:relative;
	margin-bottom:50px;
}
.skillbar-bg {
	position:relative;
	display:block;
	float:left;
	width:100%;
	height:2px;
	overflow:hidden;
	background:#eee;
}
.custom-skillbar-title span {
	float:left;
	font-size:12px;
	margin-top:12px;
	padding-bottom:6px;
}
.custom-skillbar {
	height:2px;
	width:0px;
	background:#000;
}
.skill-bar-percent {
	float:right;
	font-size:12px;
	margin-top:13px;
	padding-bottom:6px;
}
/*------ services  ------------------------------------------------*/
 .services-holder  {
	 float:left;
	 width:100%;
	 position:relative;
}
.serv-item {
	float:left;
	width:50%;
	position:relative;
	padding:10px 20px 10px 0;
	overflow:hidden;
}
.serv-item img {
	position:relative;
	width:100%;
	height:auto;
}
.serv-item-inner {
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
}
.serv-item-inner:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.11);
	z-index:2;
}
.act-ser .serv-item-inner:before  {
	background:rgba(0,0,0,0.41);
}
.ser-title {
	position:absolute;
	bottom:20px;
	z-index:3;
	width:100%;
	left:0;
}
.act-ser  .ser-title {
	bottom:50px;
}
.ser-title h3 {
	color:#fff;
	font-size:18px;
	font-weight:600;
	position:relative;
	display:inline-table;
}
.ser-title h3:before {
	content:'';
	position:absolute;
	width:100%;
	height:1px;
	background:#fff;
	top:-6px;
	left:0;
	background:#fff;
}
.act-ser  .ser-title h3:before  {
	width:0;
}
.serv-post {
	 float:left;
	 width:100%;
	 position:relative;
	 margin-top:30px;
}
.serv-details {
	float:left;
	width:100%;
	position:relative;
	display:none;
	text-align:left;
}
.serv-details h3 {
	font-size:15px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	padding-bottom:10px;
}
.serv-details p {
	line-height:20px;
}
.ser-list {
	list-style: circle;
	float:left;
	width:100%;
	padding:10px 0 10px 14px;
}
.ser-list li {
	width:100%;
	float:left;
	margin-bottom:4px;
	color:#999;
	padding-left:10px;
 	font-weight:600;
	font-size:12px;
	letter-spacing:1px;
}
.price {
	float:left;
	margin-top:10px;
	margin-bottom:30px;
	padding:10px 14px;
	border:2px solid #000;
	font-weight:600;
	color:#fff;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:4px;
	background:#000;
}
.serv-item:hover img {
	-webkit-transform: scale(1.05);
	-moz-transform:scale(1.05);
	transform: scale(1.05);
}
/*------ Team  ------------------------------------------------*/
.team-holder , .custom-slider-holder{
	float:left;
	width:100%;
	position:relative;
}
.team-holder li {
	float:left;
	width:33.3333%;
	padding:20px 20px 20px 0;
}
.team-box {
	float:left;
	position:relative;
	width:100%;
	margin-bottom:20px;
}
.team-info {
	float:left;
	width:100%;
	margin-top:20px;
	text-align:left;
}
.team-info h4 {
	font-size:19px;
	padding-bottom:4px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
.team-info h5 {
	font-size:11px;
	font-weight:500;
	color:#999;
}
.team-box:before , .team-box:after {
	content:'';
	position:absolute;
	right:0;
	bottom:0;
	background:#000;
}
.team-box:before {
	width:0;
	height:2px;
}
.team-box:after {
	width:2px;
	height:0;
}
.team-box:hover:before {
	width:20px;
}
.team-box:hover:after {
	height:20px;
}
.team-photo {
	position:relative;
	overflow:hidden;
	width:100%;
	float:left;
}
.team-photo   span {
	position:absolute;
	bottom:-50px;
	right:0;
	z-index:5;
	padding:10px 15px;
	background:#fff;
}
.team-box:before , .team-box:after , .team-photo span  , .serv-item  img{
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.team-photo:hover span{
	bottom:0;
}
.team-box .overlay {
	opacity:0;
	z-index:2;
	background:#000;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.team-box:hover .overlay {
	opacity:0.5;
}
.team-social {
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	z-index:3;
	display:none;
}
.team-social li {
	float:none !important;
	display:inline-block !important;
	padding:6px;
	width:auto !important;
}
.team-social li a {
	color:#fff;
	font-size:16px;
	position:relative;
	top:50px;
	opacity:0;
}
/*------ Porfolio  ------------------------------------------------*/
.gallery-items  , .por-sidebar{
	float:left;
	width:100%;
	position:relative;
}
.por-sidebar {
	padding:0 30px;
	margin-top:50px;
}
.grid-item-holder {
	 float:left;
	 width:100%;
	 height:auto;
	 position:relative;
}
.hid-port-info .gallery-item {
	overflow:hidden;
}
.grid-big-pad  .grid-item-holder{
	padding:40px;
}
.grid-small-pad  .grid-item-holder{
	padding:7px 14px 7px 0;
}
.grid-no-pad .grid-item-holder {
	padding:0;
}
.gallery-item, .grid-sizer {
	width: 25%;
	position:relative;
	float:left;
}
.gallery-item-second,
.grid-sizer-second {
	width: 50%;
}
.gallery-item img, .grid-sizer img {
	width: 100%;
	height: auto;
	position:relative;
	z-index:1;
    transform: translateZ(0);
}
.four-coulms .gallery-item , .four-coulms .grid-sizer{
	width:25%;
}
.three-coulms .gallery-item , .three-coulms .grid-sizer{
	width:33.3%;
}
.three-coulms .gallery-item-second {
	width:66.6%;
}
.two-columns .gallery-item {
	width:50%;
}
.gallery-item .overlay {
	z-index:2;
	opacity:0;
	background:#000;
}
.gallery-item:hover  .wh-info-box {
	visibility:visible;
}
.gallery-item:hover  .wh-info-box:before{
	width:100%;
}
.gallery-item:hover .wh-info-box-inner {
	opacity:1;
}
.grid-item {
	position:relative;
	float:left;
	width:100%;
	z-index:3;
	padding:20px 25px;
	background:#fff;
	border-bottom:1px solid #f0f0f0;
}
.grid-item h3 {
	font-size:14px;
	font-weight: 700;
	position:relative;
	float:left;
	font-family: 'Montserrat', sans-serif;
}
.grid-item h3:before {
	content:'';
	position:absolute;
	top:50%;
	left:0;
	width:0;
	height:1px;
	background:#000;
}
.grid-item h3:before  , .grid-item h3 , .blog-media img{
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.grid-item h3:hover {
	padding: 0 0 0 30px;
}
.grid-item h3:hover:before {
	width:20px;
}
.grid-item span {
	width:100%;
	float:left;
	text-align:left;
	font-size:11px;
	margin-top:6px;
	color:#999;
}
.hid-por-info .grid-item  {
	position:absolute;
	bottom:-100%;
	left:0;
	z-index:3;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.gallery-item:hover .grid-item {
	bottom:0;
}
.hid-por-info .gallery-item {
	overflow:hidden;
}
.hid-por-info .gallery-item a.popup-image {
	top:20px;
	margin:0;
	margin-left:-60px;
	left:100%;
}
.pad-con {
	padding-top:60px;
	padding-left:30px;
	padding-right:30px;
}
.pad-con2 {
	padding-top:50px;
	padding-left:0;
	padding-right:0;
	padding-bottom:42px;
}
.pad-con3 {
	padding:0 30px;
}
.hor-pad-con {
	padding:60px 0 0 30px;
}
.inline-filter {
	max-width: 1024px;
	width:92%;
	float:left;
	position: relative;
	z-index:2;
	margin-bottom:8px;
}
.bx-filter {
	 width:100%;
	 border-right:none !important;
}
.bx-filter:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:14px;
	bottom:0;
	border:1px solid #f0f0f0;
}
.bx-filter a , .bx-filter .count-folio {
	background:none !important;
}
.fixed-filter {
	position:fixed;
	z-index:20;
	bottom:0;
	left:300px;
	right:0;
	height:42px;
	background:#fff;
	border-top:1px solid #f0f0f0;
}
.inline-filter a , .inline-filter .count-folio {
	float:left;
	padding:10px 25px;
	background:#fff;
	position:relative;
	border-left:1px solid #f0f0f0;
}
.inline-filter a:before  , .fixed-filter a:before{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	width:0;
	background:#ccc;
	height:1px;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.inline-filter a.gallery-filter-active:before , .fixed-filter a.gallery-filter-active:before {
	width:100%;
}
.filter-button {
	display:none;
}
.fixed-filter a  , .fixed-filter .count-folio {
	float:left;
	padding:0 25px;
	height:42px;
	border-right:1px solid #f0f0f0;
	line-height:42px;
}
.bx-filter , .bx-filter .count-folio {
	border-right:1px solid #f0f0f0;
}
.inline-filter .count-folio div , .fixed-filter .count-folio div {
	float:left;
	position:relative;
}
.inline-filter .count-folio div.num-album , .fixed-filter .count-folio  div.num-album{
	padding-right:10px;
	margin-right:10px;
}
.inline-filter .count-folio div.num-album:before  , .fixed-filter .count-folio div.num-album:before{
	content:'';
	position:absolute;
	right:-2px;
	top:4px;
	width:1px;
	height:10px;
	background:#000;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity:0.6;
}
.fixed-filter .count-folio div.num-album:before {
	top:16px;
}
.box-folio .grid-item {
	padding:20px 0;
	background:#fff;
	border-bottom:1px solid #f0f0f0;
}
.gallery_horizontal {
	float:left;
	width:100%;
	position:relative;
	margin-top:4px;
}
.gallery_horizontal .owl-item img{
	width: auto;
	position:relative;
	z-index:1;
}
.horizontal_item {
	overflow:hidden;
	position:relative;
	height:100%;
}
.portfolio_item , .horizontal_item   {
	cursor:e-resize;
}
.resize-carousel-holder {
	float:left;
	width:100%;
	position:relative;
	padding:0;
	margin:0;
}
.slider-zoom {
	position:absolute;
	top:20px;
	right:20px;
	z-index:5;
	cursor:pointer;
	background:#fff;
	width:30px;
	height:30px;
	line-height:30px;
}
.caption {
	float:left;
	width:100%;
	padding:25px 30px 20px;
	text-align:left;
	position:relative;
	border-bottom:1px solid #f0f0f0;
}
.caption:before {
	content:'';
	position:absolute;
	top:50%;
	right:90px;
	height:1px;
	width:100px;
	background:#292929;
	opacity:0.6;
}
.num-holder2 {
	position:absolute;
	right:30px;
	top:44px;
	z-index:20;
	color:#000;
	font-weight: 500;
}
.caption h4 {
	float:left;
	width:100%;
	font-weight: 700;
	font-size:16px;
}
.details-box {
	float:left;
	width:100%;
	padding:50px 30px;
	position:relative;
}
.sml-pad {
	padding:50px 0 0;
}
.notifer {
	float:left;
	width:100%;
	background:#fff;
}
.details-box h3 , .notifer h3 {
	float:left;
	width:100%;
	text-align:left;
	font-weight: 700;
	font-size:28px;
	padding-bottom:20px;
	position:relative;
	font-family: 'Montserrat', sans-serif;
}
.notifer h3 {
	font-size:18px;
	padding-bottom:0;
	padding-top:8px;
}
.notifer {
	float:left;
	width:100%;
	padding:15px 30px;
}
.ntf-sml {
	padding:15px 14px 15px 0;
}
.ntf-npa {
	padding:25px 0;
	border-top:1px solid #f0f0f0;
}
.notifer .btn {
	float:right;
	margin-top:0;
}
.det-list  {
	margin-top:10px;
}
.det-list  , .det-list li , .det-list li span {
	float:left;
	width:100%;
	text-align:left;
}
.det-list li i {
	padding-right:4px;
	font-size:12px;
}
.det-list li {
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #f0f0f0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.det-list li span {
	padding-bottom:10px;
	color:#666;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
.resize-carousel-holder .customNavigation a , .custom-slider-holder .customNavigation a{
	width:40px;
	height:40px;
	position:absolute;
	top:50%;
	background:#fff;
	margin-top:-20px;
	line-height:40px;
	font-size:12px;
	z-index:10;
	cursor:pointer;
}
.resize-carousel-holder .customNavigation a.next-slide , .custom-slider-holder .customNavigation a.next-slide{
	right:0;
}
.resize-carousel-holder .customNavigation a.prev-slide , .custom-slider-holder .customNavigation a.prev-slide {
	left:0;
}
/*------ Video ------------------------------------------------*/
.iframe-holder {
	float:left;
	position:relative;
	width:100%
}
.resp-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom:20px;
}
.resp-video iframe,
.resp-video object,
.resp-video embed  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.media-container , .video-holder {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	cursor:pointer;
}

.background-youtube {
	width:100% !important;
}
.media-container {
	height:100% !important;
}
.video-mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.video-holder iframe  {
	position: absolute;
    top: -75px;
    left: 50%;
    width: 100%;
    height: 100%;
    display: block;
	overflow:hidden;
}
.mob-bg {
	display:none;
}
/*------ map - ------------------------------------------------*/
.map-holder {
	float:left;
	width:100%;
	position:relative;
	padding:0 30px;
}
.map-box {
	float:left;
	width:100% ;
	height:400px;
	position:relative;
}
#map-canvas {
	position:absolute;
	top:0;
	left:0;
	width:100% ;
	height:400px;
}
.map-inner {
	padding:0;
	height:400px;
}
.map-inner .map-holder  {
	padding:0;
}
/*------ Contact  ------------------------------------------------*/
#contact-form {
	max-width:450px;
	float:left;
}
#contact-form input[type="text"] , #contact-form textarea , #comment-form input[type="text"]  , #comment-form textarea{
	float:left;
	width: 100%;
	background:none;
	margin-bottom:20px;
	font-size: 10px;
	height:50px;
	border-radius: none;
	position:relative;
	z-index:20;
	padding-left:8px;
	 border-radius: 0;
	color:#000;
	border:0;
	border-bottom:1px solid #000;
	-webkit-appearance: none;
}
#contact-form textarea  , #comment-form textarea {
	height:170px;
	resize:none;
	overflow: auto;
	background:none;
	overflow: auto;
	box-shadow: none;
}
#submit	{
	float:left;
	border:none;
	background:none;
	padding:15px 30px;
	cursor:pointer;
	font-weight:500;
	font-size:10px;
	color:#fff;
	background:#000;
	letter-spacing:2px;
	-webkit-appearance: none;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
#submit span {
	 position:relative;
}
#submit span:before {
	content:'';
	position:absolute;
	top:50%;
	left:-30px;
	width:0;
	background:#fff;
	height:1px;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
#submit:hover span:before {
	width:15px;
}
#submit:hover {
	padding-left:45px;
}
.error_message {
	text-align:left;
	font-size:14px;
	max-width:450px;
	position:relative;
	padding:10px 0;
	color:#C03;
	font-weight:700;
}
#success_page h3{
	text-align:left;
	font-size:18px;
	float:left;
	width:100%;
	margin-top:20px;
	line-height:1px;
}
#success_page p {
	text-align:left;
	padding:0 6px 6px 0;
	color:#000;
	float:left;
	width:100%;
	margin-bottom:10px;
	font-weight:700;
}
#success_page p strong {
	color:#C03;
}
#message fieldset {
	border:none;
}
/*------ share------------------------------------------------*/
.show-share {
	float:right;
	padding:0 30px;
	line-height:50px;
	position:relative;
	border-left:1px solid #f0f0f0;
	height:100%;
	text-transform:uppercase;
	font-size:10px;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	cursor:pointer;
}
.share-container {
	position:absolute;
	top:-50px;
	left:0;
	width:100%;
	background:#fff;
	z-index:10;
	height:100%;
}
.share-container:before {
	content:'';
	position:absolute;
	top:50%;
	left:30px;
	height:1px;
	width:90px;
	background:#000;
}
.closeshare {
	float:right;
	width:50px;
	height:50px;
	cursor:pointer;
	border-left:1px solid #f0f0f0;
	line-height:50px;
}
.share-icon {
    height:50px;
    width:50px;
	float:right;
    margin:0 2px;
	position:relative;
	font-size:12px;
	line-height:50px;
	color: #000;
	border-left:1px solid #f0f0f0;
	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.share-icon:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.share-icon-digg:before {
    content: "\f1a6";
}
.share-icon-email:before  {
    content: "\f003";
}
.share-icon-flickr:before  {
    content: "\f16e";
}
.share-icon-foursquare:before  {
    content: "\f180";
}
.share-icon-rss:before {
    content: "\f09e";
}
.share-icon-facebook:before  {
    content: "\f09a";
}
.share-icon-twitter:before {
    content: "\f099";
}
.share-icon-tumblr:before {
   content: "\f173";
}
.share-icon-linkedin:before {
     content: "\f08c";
}
.share-icon-vimeo:before {
   content: "\f194";
}
.share-icon-instagram:before {
    content: "\f16d";
}
.share-icon-pinterest:before {
    content: "\f0d2";
}
.share-icon-googleplus:before {
   content: "\f0d5";
}
.share-icon-in1:before {
    content: "\f08c";
}
.share-icon-stumbleupon:before {
    content: "\f1a4";
}
/*------ blog ------------------------------------------------*/
.blog-inner , .blog-media , .blog-title  , .blog-text {
	float:left;
	width:100%;
	position:relative;
}
.blog-media {
	margin-bottom:50px;
	overflow:hidden;
}
article {
	float:left;
	margin-top:10px;
	width:100%;
	position:relative;
	background:#fff;
}
article.br-post {
	border-bottom:1px solid #f0f0f0;
	padding-bottom:20px;
	margin-top:0;
	padding:20px 30px;
}
.sinnle-post {
	padding-top:30px;
	margin-bottom:30px;
}
.sinnle-post h2 {
	float:left;
	font-size:32px;
	text-align:left;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	width:100%;
}
.blog-title   {
	padding:20px 0;
}
.grid-item-holder .blog-title , .grid-item-holder .blog-text {
	padding:20px;
}
.grid-item-holder .blog-media {
	margin-bottom:0;
}
.blog-title   li {
	float:left;
	text-align:left;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	margin-bottom:10px;
	color:#666;
	font-size:13px;
	color:#666;
	margin-right:4px;
}
.blog-title a {
	color:#666;
}
.blog-text {
	margin-top:10px;
	position:relative;
	float:left;
	width:100%;
}
.sinnle-post .blog-text {
	margin:50px auto 50px;
	max-width: 900px;
	width:92%;
	float:none;
	padding-top:50px;
}
.blog-text h3  , .comment-form-holder h3 , .comments-holder h3  {
	font-size:16px;
	text-align:left;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	margin-bottom:10px;
}
.project-details h3 {
	padding:20px 0 15px;
}
.blog-media {
	float:left;
	width:100%;
	position:relative;
}
.blog-text p {
	font-size:12px;
	padding-top:10px;
}
.sinnle-post p {
	font-size:12px;
}
.sinnle-post .blog-text h3 {
	margin-bottom:30px;
}
.commentlist {
	text-align:left;
	float:left;
	margin-bottom:80px;
	max-width:900px;
}
.comments-holder {
	float:left;
	width:100%;
	background:#fff;
	padding:0 70px;
	margin-top:30px;
	padding-top:30px;
	border-top:1px solid #eee;
}
.comment-form-holder {
	float:left;
	width:100%;
	background:#fff;
	padding:0 70px;
	margin-top:30px;
	padding-top:30px;
	margin-bottom:50px;
	border-top:1px solid #eee;
}
#comment-form {
	max-width:400px;
}
#comments{
	text-align:left;
	padding-top: 10px;
	max-width:800px;
}
#comments-title , #reply-title{
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 5px;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
}
.comment{
	float: left;
}
.comment-body{
	position: relative;
	margin-left: 70px;
	padding-top: 30px;
}
.comment-author{
	position: absolute;
	top: 30px;
	left: -66px;
}
.comment-author img{
	border-radius: 100%;
}
.comment .children{
	margin-left: 70px;
}
.fn{
	display: block;
	margin-bottom: 10px;
}
.comment-meta, .comment-meta a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:12px;
	letter-spacing:1px;
	color:#494949;
	padding-bottom:10px;
}
.pagination-blog {
	text-align:center;
	float:left;
	width:100%;
	margin:15px 0;
	background:#fff;
}
.pagination-blog-inner   {
	float:left;
	background:#fff;
	width:100%;
	border:1px solid rgba(0,0,0,.07);
}
.con-pag {
	padding:0 30px;
	margin:10px 0px 30px;
}
.pagination-blog a {
	float:left;
	padding: 12px 18px;
	position:relative;
	font-size:13px;
	color:#666;
	letter-spacing:1px;
	border-right:1px solid rgba(0,0,0,.07);
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.pagination-blog a.current-page, .pagination-blog a:hover {
    color:#fff;
	background:#000;
}
.no-bg {
	background:none;
}
.box-page .container  {
	max-width:1024px;
}
.taglist {
	float:left;
	width:100%;
	margin-top:20px;
}
.taglist li {
	float:left;
	margin-right:4px;
	margin-bottom:4px;
}
.taglist li a {
	padding:10px 20px;
	float:left;
	font-size:10px;
	letter-spacing:2px;
	text-transform:uppercase;
	background:#000;
	color:#fff;
}
/*------ 404 -------------------------------------------------*/
#ajax-loading-box {
	display:none !important;
}
.back-link {
	position:fixed;
	top:0;
	left:300px;
	right:0;
	height:100%;
	z-index:50000;
	background:#fff;
}
.back-link:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-2;
	background-image:url(../images/bg/3.jpg);
	background-size: cover;
	background-position: center  ;
	background-repeat:repeat;
	background-origin: content-box;
	  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: url(#blur);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');
}
.back-link:after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	background: rgba(51,51,51,0.21) url(../images/body-bg.png) repeat top left;
}
.back-link h2 {
	font-size: 5.4rem;
  	line-height: 4.4rem;
	color:#fff;
		font-weight:700;
	font-family: 'Montserrat', sans-serif;
}
.back-link span {
	position:relative;
	top:30%;
	float:left;
	width:100%;
	font-size:34px;
	text-transform:uppercase;
	color:#fff;
}
.ajaxPageSwitchBacklink {
	display:inline-block;
	margin-top:20px;
	cursor:pointer;
	color:#fff;
	position:relative;
	top:30%;
}
.ajaxPageSwitchBacklink:before {
	content:'';
	position:absolute;
	bottom:-10px;
	left:0;
	width:0;
	height:2px;
	background:#fff;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ajaxPageSwitchBacklink:hover:before {
	width:100%;
}
/*------  Responsive ------------------------------------------------------*/
@media only screen and  (max-width: 1256px) {
.blog-inner .gallery-item {
	width:50%;
}
.to-top {
	height:40px;
	line-height:40px;
}
.det-vis .gallery-item {
	width:33.3%;
}
}
@media only screen and  (max-width: 1056px) {
header{
	left:-301px;
}
.nav-button-holder , .close-menu , .mob-bg{
	display:block;
}

.content-holder{
 	padding:0;
}
.top-bar-holder {
	position: relative;
	top:0;
	left:0;
	right:0;
	height:50px;
	float:left;
	width:100% !important;
	overflow:hidden;
}
.wrapper-inner {
    padding-left: 0;
}
.container {
	float:none;
	margin:0 auto;
}
.top-bar-holder .container {
	float:left;
	width:100%;
}
.team-holder li {
	width:50%;
}
.notifer .btn {
	float:left;
	margin-top:14px;
	margin-bottom:14px;
}
.loader.pg-load {
	top:50%;
	left:50%;
	width: 27px;
	height: 27px;
	margin-top:-13px;
	margin-left:-13px;
}
.loader.pg-load .speeding-wheel {
	width: 27px;
	height: 27px;
	border: 2px solid rgb(0,0,0);
	border-left-color: transparent;
	border-right-color: transparent;
}
.gallery-item {
	width: 50% !important;
}
.pad-con {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.pad-con .notifer {
	padding:5px 0;
}
.pr-not .container {
	float:left;
	margin:0;
	width:100%;
}
.hor-pad-con {
    padding: 20px 0 0 0;
}
.pad-con2 {
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
.det-list {
	margin-top:30px;
}
.page-title {
    padding: 150px 0;
}
.page-title h2 {
	top:45%;
 	font-size: 62px;
	text-align:center;
}
.fixed-filter {
	position:relative;
	left:0;
	border-top:none;
}
.pad-con3 {
	padding:0;
}
.full-screen-slider-holder {
    margin-top: 0;
}
.abmin {
	padding-top:50px;
}
.pdtb .top-bar {
	width:100%;
}
.back-link  , .preload-bg , .fix-bg , .top-bar-holder.fw-topbar , #main:before{
	left:0;
}
.map-inner {
	padding-top:0;
}
.scroll-holder {
 	padding:40px 0 !important ;
}
.gallery_horizontal {
	margin-top:0px;
}
.pr-not .notifer {
 	padding:5px 20px;
}
}
@media only screen and  (max-width: 756px) {
.resize-carousel-holder .customNavigation , .caption , .bx-filter:before {
	display:none;
}
.resize-carousel-holder {
	width:92%;
	left:4%;
}
.horizontal_item img {
	width:100% !important;
	height:auto !important;
}
.horizontal_item {
	padding:10px 0;
}
.inline-facts{
	width:50% !important;
	margin-bottom:20px;
}
.gallery-item {
	width: 100% !important;

}
.grid-small-pad .grid-item-holder {
    padding: 7px 0 7px 0;
}
.inline-filter , .filter-holder {
	width:100%;
	float:left;
}
.count-folio {
	width:30%;
	height:40px;
	position:absolute !important;
	top:0;
	right:0;
}
.filter-button {
	float:left;
	width:70%;
	height:40px;
	line-height:40px;
	background:#fff;
	display:block;
	cursor:pointer;
	font-weight:500;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	position:relative;
	z-index:5;
}
.bx-filter {
	border:1px solid #f0f0f0;
}

.bx-filter .count-folio {
	border:none;
	border-left:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
}
.gallery-filters {
	float:left;
	display:none;
	width:100%;
	background:#fff;
	padding:15px 0;
	border-bottom:1px solid #f0f0f0;
	border-top:1px solid #f0f0f0;
}
.bx-filter .gallery-filters {
	border-bottom:none;
	border-right:1px solid #f0f0f0;
}
.gallery-filters a {
	float:left;
	width:100%;
	text-align:left;
	border-left: none;
}
.gallery-filters a.gallery-filter-active:before {
    width: 40px;
}
.inline-filter a:before, .fixed-filter a:before {
    left: 25px;
    background: #000;
    height: 2px;
}
.count-folio div {
	display:inline-block;
	float:none !important;
}
.popup-gallery .grid-item-holder{
	margin-bottom:20px;
}
.hero-title h2 {
	font-size:34px;
	padding:0 20px 30px;
}
.full-screen-slider-holder  .customNavigation a {
	top:90% !important;
}
}
@media only screen and  (max-width: 540px) {
.team-holder li  , .serv-item{
	width:100%;
	padding:0;
}
.serv-item {
	margin-bottom:20px;
}
.inline-facts{
	width:100% !important;
}
.inline-facts .num  , .inline-facts h6{
    text-align: center;
}
}
@media only screen and  (max-width: 310px) {
header {
	width:250px;
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.bg {
	background-attachment: scroll !important;
	-webkit-background-size:cover;
	background-position:center;
}
}